<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Index</title>
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'new' %}">글 작성</a>
        <a href="{% url 'read' %}">글 목록</a>

        {% if user.is_active %}
            {{ user.username }}님 안녕하세요 <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login' %}">로그인</a>
        {% endif %}
    </nav>
    {% block content %}
    <h1>Index Page</h1>
    <hr>
    {% endblock %}
</body>
</html>